th, td {
    padding: 0;
}

table {
    background: #000;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.1);
}

tr {
    height: 50px;
}

tr:nth-child(2n) {
    background-color: yellow;
}

tr:nth-child(2n-1) {
    background-color: blue;
    color: #fff;
}

thead {
    background-color: blue;
}

.transaction-history {
    width: 100%;
        max-width: 800px;
        text-align: center;
        /* background-color: aquamarine; */
        padding: 30px 20px;
        border-radius: 15px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
}

.thead-tr {
    font-size: 24px;
    font-weight: bold;
    background-color: red !important;
}